body{
    background-color: black;
    color:grey;
}
header, main, nav, footer{
    text-align: center;
}

nav a{
    padding:15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color:white;
}

nav a:hover {
    border-bottom: 2px green solid;
    font-size: 2em;
    color:red;
    transition: .9s;
}

#thisPage {
    color: yellow !important;
}

#me, #welcomeText {
    float: left;
}

#welcomeText {
    text-align: left;
}

footer {
    clear: left;
    font-size: .8em;
    color: blue;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}
td strong {
    color: orange;
}
#tableHeader {
    background-color: #351a00
}

.tableRow{
    background-color: #753900
}

ul {
    text-align: left;
    padding-left: 200px;
}

.hobby{
    color: yellow;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}




















